"$schema" = 'https://starship.rs/config-schema.json'

# Performance tuning
scan_timeout = 30        # Milliseconds to scan for git repos
command_timeout = 500    # Max time for module commands
follow_symlinks = false  # Important for network filesystems

{{ if eq .profile "dev" -}}
format = """
[](color_orange)\
$os\
$username$hostname\
[](bg:color_yellow fg:color_orange)\
$git_branch\
$git_status\
[](fg:color_yellow bg:color_blue)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:color_blue bg:color_bg3)\
$docker_context\
[](fg:color_bg3 bg:color_aqua)\
$directory\
[](fg:color_aqua bg:color_bg1)\
$time\
[](fg:color_bg1)\
$line_break\
$character"""

right_format = """${custom.project}"""
{{ else -}}
format = """
[](color_prod_red)\
$os\
$hostname\
[](bg:color_orange fg:color_prod_red)\
$username\
[](bg:color_yellow fg:color_orange)\
$git_branch\
$git_status\
[](fg:color_yellow bg:color_aqua)\
$directory\
[](fg:color_aqua bg:color_bg1)\
$time\
[](fg:color_bg1)\
$line_break\
$character"""
{{ end }}
palette = 'catppuccin_macchiato'

[palettes.catppuccin_macchiato]
color_fg0 = '#24273a'
color_fg1 = '#cad3f5'
color_bg1 = '#363a4f'
color_bg3 = '#494d64'
color_blue = '#8aadf4'
color_aqua = '#8bd5ca'
color_green = '#a6da95'
color_orange = '#f5a97f'
color_purple = '#c6a0f6'
color_red = '#ed8796'
{{ if eq .profile "prod" -}}
color_prod_red = '#e6364d'
{{ end -}}
color_yellow = '#eed49f'

[os]
disabled = false
{{ if eq .profile "dev" -}}
style = "bg:color_orange fg:color_fg0"
{{ else -}}
style = "bg:color_prod_red fg:color_fg0"
{{ end }}
[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
{{ if eq .profile "dev" -}}
style_user = "bg:color_orange fg:color_fg0"
style_root = "bg:color_orange fg:color_fg0"
format = '[ $user]($style)'
{{ else -}}
style_user = "bg:color_orange fg:color_fg0"
style_root = "bg:color_prod_red fg:color_fg0 bold"
format = '[ $user ]($style)'
{{ end }}

[directory]
style = "bg:color_aqua"
format = '[[ $path ](bold fg:color_fg0 bg:color_aqua)]($style)'
{{ if eq .profile "dev" -}}
truncation_length = 1
{{ else -}}
truncation_length = 3
{{ end -}}
truncation_symbol = "…/"
truncate_to_repo = false

{{ if eq .profile "dev" -}}
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[custom.project]
command = '''
common="$(git rev-parse --git-common-dir 2>/dev/null)"
repo="$(cd "$common/.." && basename "$PWD")"
toplevel="$(git rev-parse --show-toplevel)"
wt="$(basename "$toplevel")"
if [ "$repo" = "$wt" ]; then
  echo "$repo"
else
  echo "$repo:$wt"
fi
'''
when = 'git rev-parse --is-inside-work-tree 2>/dev/null'
style = "bg:color_purple"
format = '[](fg:color_purple)[[ 󰉋 $output ](fg:color_fg0 bg:color_purple)]($style)[](fg:color_purple)'
shell = ["bash", "--noprofile", "--norc"]
{{ end -}}

[git_branch]
symbol = ""
style = "bg:color_yellow"
format = '[[ $symbol $branch ](fg:color_fg0 bg:color_yellow)]($style)'
truncation_length = 20
truncation_symbol = "…"
ignore_bare_repo = true

[git_status]
style = "bg:color_yellow"
format = '[[($all_status$ahead_behind )](fg:color_fg0 bg:color_yellow)]($style)'
untracked = "∿"

{{ if eq .profile "dev" -}}
[nodejs]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[c]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[rust]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[golang]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[php]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[java]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[kotlin]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[haskell]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[python]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[docker_context]
symbol = ""
style = "bg:color_bg3"
format = '[[ $symbol( $context) ](fg:color_fg1 bg:color_bg3)]($style)'
{{ end }}

[time]
disabled = false
time_format = "%R"
style = "bg:color_bg1"
format = '[[ $time ](fg:color_fg1 bg:color_bg1)]($style)'

{{ if eq .profile "prod" -}}
[cmd_duration]
min_time = 2000
style = "fg:color_yellow"
format = '[$duration]($style) '
{{ end }}

[character]
disabled = false
success_symbol = '[▶](bold fg:color_green)'
error_symbol = '[▶](bold fg:color_red)'
vimcmd_symbol = '[▶](bold fg:color_green)'
vimcmd_replace_one_symbol = '[▶](bold fg:color_purple)'
vimcmd_replace_symbol = '[▶](bold fg:color_purple)'
vimcmd_visual_symbol = '[▶](bold fg:color_yellow)'

[hostname]
{{ if eq .profile "dev" -}}
ssh_only = true
style = "bg:color_orange fg:color_fg0"
ssh_symbol = "󰖟"
format = "[@$hostname $ssh_symbol ]($style)"
{{ else -}}
ssh_only = false
style = "bg:color_prod_red fg:color_fg0"
format = "[ $hostname ]($style)"
{{ end -}}
trim_at = "."

{{ if eq .profile "dev" -}}
# AWS Cloud Context
[aws]
symbol = "☁️ "
style = "bg:color_bg3"
format = '[[ $symbol($profile )(\($region\)) ](fg:color_fg1 bg:color_bg3)]($style)'
disabled = false

# Google Cloud Context
[gcloud]
symbol = "☁️ "
style = "bg:color_bg3"
format = '[[ $symbol$account(@$domain)(\($region\)) ](fg:color_fg1 bg:color_bg3)]($style)'
disabled = false
{{ end -}}
