{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $full_name := promptStringOnce . "full_name" "Full name" -}}
{{- $profile := promptStringOnce . "profile" "Profile (dev/prod)" -}}

[data]
    email = {{ $email | quote }}
    full_name = {{ $full_name | quote }}
    profile = {{ $profile | quote }}

