tap "homebrew/bundle"
{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask-fonts"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
brew "ffmpeg"
brew "imagemagick"
brew "jq"
brew "llm"
brew "mas"
brew "ollama"
brew "rsync"
{{ end }}

brew "bat"
brew "bitwarden-cli"
brew "bottom"
brew "broot"
brew "cheat"
brew "chezmoi"
brew "curlie"
brew "dog"
brew "duff"
brew "dust"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "gping"
brew "gtop"
brew "httpie"
brew "lsd"
brew "mdcat"
brew "mise"
brew "pipx"
brew "procs"
brew "python-yq"
brew "qrencode"
brew "ripgrep"
brew "silicon"
brew "starship"
brew "the_silver_searcher"
brew "tig"
brew "tlrc"
brew "zoxide"
brew "zsh-completions"

{{ if eq .chezmoi.os "darwin" }}
cask "font-jetbrains-mono-nerd-font"
cask "google-cloud-sdk"
cask "kitty"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
mas "Bitwarden", id: 1352778147
mas "DaisyDisk", id: 411643860
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Kindle Classic", id: 405399194
mas "Microsoft Remote Desktop", id: 1295203466
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Photomator", id: 1444636541
mas "Pixelmator", id: 407963104
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142
mas "Xcode", id: 497799835
{{ end }}
