{{- if eq .chezmoi.os "linux" -}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/bin/bash

brew bundle --file=/dev/stdin << EOF
tap "homebrew/bundle"
tap "homebrew/services"
tap "buo/cask-upgrade"

# Homebrew, Terminal and Shell Tools
brew "chezmoi"
brew "mise"
brew "tmux"
brew "uv"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

# System Tools
brew "d2"
brew "difftastic"
brew "dive"
brew "ffmpeg"
brew "fx"
brew "imagemagick"
brew "jq"
brew "jnv"
brew "knock"
brew "lazydocker"
brew "litecli"
brew "newsboat"
brew "qrencode"
brew "rsync"
brew "sc-im"
brew "tree"
brew "yq"
brew "wget"
cask "ngrok"

# AI Stuff
brew "llm"
brew "ollama"

# git stuff
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "lazygit"
brew "tig"

# programming languages
brew "go"
brew "node"
brew "rust"
brew "typescript"

# modern replacements
brew "bat"
brew "bottom"
brew "broot"
brew "cheat"
brew "curlie"
brew "duff"
brew "dust"
brew "fd"
brew "fzf"
brew "gping"
brew "gtop"
brew "httpie"
brew "lsd"
brew "mdcat"
brew "procs"
brew "ripgrep"
brew "silicon"
brew "starship"
brew "the_silver_searcher"
brew "tlrc"
brew "zoxide"

# cloud stuff
brew "awscli"

EOF
{{  end -}}
{{ end -}}
