{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin << EOF
tap "homebrew/bundle"
tap "homebrew/services"

# Homebrew, Terminal and Shell Tools
brew "chezmoi"
brew "mas"
brew "mise"
brew "tmux"
brew "uv"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

# System Tools
brew "d2"
brew "difftastic"
brew "dive"
brew "ffmpeg"
brew "fx"
brew "imagemagick"
brew "jq"
brew "jnv"
brew "knock"
brew "lazydocker"
brew "litecli"
brew "newsboat"
brew "qrencode"
brew "rsync"
brew "sc-im"
brew "tree"
brew "yq"
brew "wget"
cask "ngrok"

# AI Stuff
brew "llm"
brew "ollama"

# git stuff
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "lazygit"
brew "tig"

# programming languages
brew "go"
brew "node"
brew "rust"
brew "typescript"

# modern replacements
brew "bat"
brew "bottom"
brew "broot"
brew "cheat"
brew "curlie"
brew "duff"
brew "dust"
brew "fd"
brew "fzf"
brew "gping"
brew "gtop"
brew "httpie"
brew "lsd"
brew "mdcat"
brew "procs"
brew "ripgrep"
brew "silicon"
brew "starship"
brew "the_silver_searcher"
brew "tlrc"
brew "zoxide"
cask "beekeeper-studio"

# fonts
cask "font-jetbrains-mono-nerd-font"

# cloud stuff
brew "awscli"
cask "google-cloud-sdk"

# AppStore stuff
mas "DaisyDisk", id: 411643860
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Photomator", id: 1444636541
mas "Pixelmator", id: 407963104
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142
mas "Xcode", id: 497799835

EOF
{{ end -}}
