{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin << Brewfile
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "ynqa/tap"

# Homebrew, Terminal and Shell Tools
brew "bitwarden-cli"
brew "chezmoi"
brew "mas"
brew "mise"
brew "neovim"
brew "tmux"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
cask "kitty"

# System Tools
brew "d2"
brew "difftastic"
brew "ffmpeg"
brew "fx"
brew "imagemagick"
brew "jq"
brew "ynqa/tap/jnv"
brew "lazydocker"
brew "newsboat"
brew "qrencode"
brew "rsync"
brew "sc-im"
brew "yq"
brew "wget"

# AI Stuff
brew "llm"
brew "ollama"

# git stuff
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "lazygit"
brew "tig"

# programming languages
brew "go"
brew "node"
brew "rust"
brew "typescript"

# modern replacements
brew "bat"
brew "bottom"
brew "broot"
brew "cheat"
brew "curlie"
brew "dog"
brew "duff"
brew "dust"
brew "fd"
brew "fzf"
brew "gping"
brew "gtop"
brew "httpie"
brew "lsd"
brew "mdcat"
brew "pipx"
brew "procs"
brew "ripgrep"
brew "silicon"
brew "starship"
brew "the_silver_searcher"
brew "tlrc"
brew "zoxide"

# fonts
cask "font-jetbrains-mono-nerd-font"

# cloud stuff
brew "awscli"
cask "google-cloud-sdk"

# AppStore stuff
mas "Bitwarden", id: 1352778147
mas "DaisyDisk", id: 411643860
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Kindle Classic", id: 405399194
mas "Microsoft Remote Desktop", id: 1295203466
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Photomator", id: 1444636541
mas "Pixelmator", id: 407963104
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142
mas "Xcode", id: 497799835

{{ end -}}
